// SlideIn title desktop/tablet
@keyframes slideInTitle {
  0% {
    width: 0;
    //transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    width: 100%;
    //transform: translateX(0);
    opacity: 1;
  }
}

//fadeIn title mobile
@keyframes fadeInTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// fadeIn nav
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//slideIn main sections
@keyframes slideInMain {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//fill bubbles
@keyframes fillBubble {
  0% {
    top: 100%; 
    opacity: 0; 
  }
  100% {
    top: 0; 
    opacity: 1; 
  }
}

// Transform button
.anim {
  transition: transform 300ms;
  &:hover {
    transform: scale(1.1);
  }
}